<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Challenge14ColorsAreBeautiful/src/net/tuenti/contest/igbopie/colorsarebeautiful/ColorsAreBeautiful.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="net.tuenti.contest.igbopie.colorsarebeautiful.ColorsAreBeautiful"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="tuenticmd/trabaja.bmp"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Challenge14ColorsAreBeautiful"/>
</launchConfiguration>
